/* src/app/worker/dashboard.module.css */

.container h1 {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-content: center;
}

.formSection {
  margin-top: 40px;
  margin: 20px;
  border-radius: 10px;
  background-color: #e4e4e4;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

.form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}

.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 16px;
}

.form textarea {
  resize: vertical;
  height: 100px;
}

.feedback {
  color: red;
  margin-top: 10px;
}
.label {
  margin-right: 10px;
}
